[submodule "Font-Awesome"]
	path = Font-Awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "YosemiteSanFranciscoFont"]
	path = YosemiteSanFranciscoFont
	url = https://github.com/supermarin/YosemiteSanFranciscoFont
[submodule "osx-terminal-themes"]
	path = osx-terminal-themes
	url = git@github.com:lysyi3m/osx-terminal-themes.git
[submodule "base16-xresources"]
	path = base16-xresources
	url = git@github.com:chriskempson/base16-xresources.git
[submodule "grub-eslimi-theme"]
	path = grub-eslimi-theme
	url = git@github.com:saeedSarpas/grub-eslimi-theme.git
[submodule "base16-termite"]
	path = base16-termite
	url = git@github.com:khamer/base16-termite.git
