configuration {
  modi: "window,run,ssh";
  font: "mono 12";
  width: 100;
  lines: 8;
  columns: 1;
  bw: 0;
  location: 0;
  padding: 1500;
  fixed-num-lines: true;
  show-icons: true;
  icon-theme: "Numix-Circle";
  ssh-client: "ssh";
  eh: 1;
  separator-style: "none";
  hide-scrollbar: true;
  fake-transparency: true;
  max-history-size: 250;
  display-drun: "Search";
