# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
    status_command i3blocks
    colors {
           background $bg-color
           separator $separator-color
           # State            border       background   text
           focused_workspace  $bg-color    $bg-color    $text-color
           inactive_workspace $bg-inactive $bg-inactive $text-color-inactive
           urgent_workspace   $bg-urgent   $bg-urgent   $text-color
    }
}
