# Colors

set $bg-color            #2f343f
set $bg-alternative      #2f343f
set $text-color          #f3f4f5
set $bg-inactive         #2f343f
set $text-color-inactive #676e7d
set $bg-urgent           #e53935
set $bg-highlight        #2f343f
set $text-highlight      #9575cd
set $separator-color     #757575

# State                 border       background   text                 indicator
client.focused          $bg-color    $bg-color    $text-color          #00ff00
client.unfocused        $bg-inactive $bg-inactive $text-color-inactive #00ff00
client.focused_inactive $bg-inactive $bg-inactive $text-color-inactive #00ff00
client.urgent           $bg-urgent   $bg-urgent   $text-color          #00ff00

