# Nord Colors
# Credit: https://www.nordtheme.com/

set $color00 #2e3440 # Polar Night
set $color01 #3b4252 # Polar Night
set $color02 #434c5e # Polar Night
set $color03 #4c566a # Polar Night
set $color04 #d8dee9 # Snow Storm
set $color05 #e5e9f0 # Snow Storm
set $color06 #eceff4 # Snow Storm
set $color07 #8fbcbb # Frost
set $color08 #88c0d0 # Frost
set $color09 #81a1c1 # Frost
  set $color10 #5e81ac # Frost
  set $color11 #bf616a # Aura (Red)
  set $color12 #d08770 # Aura (Orange)
  set $color13 #ebcb8b # Aura (Yellow)
  set $color14 #a3be8c # Aura (Green)
set $color15 #b48ead # Aura (Purple)

  set $bg-color            $color00
  set $bg-alternative      $color01
  set $bg-inactive         $color02
  set $text-color          $color06
  set $text-color-inactive $color04
  set $bg-urgent           $color11
  set $bg-highlight        $color03
  set $text-highlight      $color13
  set $separator-color     $color10

# State                 border       background   text                 indicator
  client.focused          $bg-color    $bg-color    $text-color          #00ff00
  client.unfocused        $bg-inactive $bg-inactive $text-color-inactive #00ff00
  client.focused_inactive $bg-inactive $bg-inactive $text-color-inactive #00ff00
  client.urgent           $bg-urgent   $bg-urgent   $text-color          #00ff00

