# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson
'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'j k': 'vim-mode-plus:activate-normal-mode'

'atom-text-editor[mini]':
  'j k': 'core:cancel'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'space' : 'unset!'
  'space w h': 'window:focus-pane-on-left'
  'space w l': 'window:focus-pane-on-right'
  'space w j': 'window:focus-pane-on-bottom'
  'space w k': 'window:focus-pane-on-top'
  'space w shift-H': 'vim-mode-plus:move-pane-to-very-left'
  'space w shift-L': 'vim-mode-plus:move-pane-to-very-right'
  'space w shift-J': 'vim-mode-plus:move-pane-to-very-bottom'
  'space w shift-K': 'vim-mode-plus:move-pane-to-very-top'
  'space w /': 'pane:split-right-and-copy-active-item'
  'space w -': 'pane:split-down-and-copy-active-item'
  'space w d': 'pane:close'
  'space w m': 'vim-mode-plus:maximize-pane'
  'space w =': 'vim-mode-plus:equalize-panes'
  'space space l': 'vim-mode-plus:next-tab'
  'space space h': 'vim-mode-plus:previous-tab'
  'space ;': 'vim-mode-plus:toggle-line-comments'
  '0': 'vim-mode-plus:move-to-first-character-of-line'
  'tab' : 'window:focus-next-pane'

